.navigation {
  padding: 0px !important;
  margin: 0px !important;
}
.navigation .tab {
  font-weight: 600;
  padding-right: 8px;
  margin: 4px;
  border-radius: 10px;
  font-size: 17px;
}
.navigation .tab .text {
  color: white;
  text-decoration: none;
}
