.img-preview {
  object-fit: cover;
  width: 100%;
  min-height: 400px;
  min-width: 300px;
  max-height: 450px;
  max-width: 300px;
}
@media only screen and (max-width: 768px) {
  .img-preview {
    max-height: 60vh;
  }
}
.zoom-in {
  max-width: 100vw;
  max-height: calc(100vh - 54px);
}
.img-zoom {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  align-self: center;
}
