.parent-fileupload {
  display: flex;
  flex-direction: column;
}
.btn-submit {
  align-self: center;
  width: min-content;
}
.wavesurfer-handle {
  background: #a8dba8;
}
.wave {
  margin: auto;
  align-self: center;
  max-width: 80vw;
  width: 80%;
  margin-bottom: 10px;
}
.tag {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  margin: 3px;
}
.tag-list {
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.preview {
  object-fit: cover;
  height: 250px;
  margin: auto;
  width: 100%;
  padding: 0 !important;
}
.cat-parent {
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.cat-parent .cat {
  cursor: pointer;
  color: white;
  margin: 3px;
  padding: 8px;
}
.cat-parent .cat:nth-child(1) {
  background-color: #0dd1c2 !important;
}
.cat-parent .cat:nth-child(2) {
  background-color: #7ee92e !important;
}
.cat-parent .cat:nth-child(3) {
  background-color: #965f39 !important;
}
.cat-parent .cat:nth-child(4) {
  background-color: #be762a !important;
}
.cat-parent .cat:nth-child(5) {
  background-color: #fc47ee !important;
}
.cat-parent .cat:nth-child(6) {
  background-color: #624ef2 !important;
}
.cat-parent .cat:nth-child(7) {
  background-color: #7d5c71 !important;
}
.cat-parent .cat:nth-child(8) {
  background-color: #f8520c !important;
}
.cat-parent .cat:nth-child(9) {
  background-color: #c977c0 !important;
}
.cat-parent .cat:nth-child(10) {
  background-color: #ef3a3f !important;
}
.cat-parent .cat:nth-child(11) {
  background-color: #60ff6b !important;
}
.cat-parent .cat:nth-child(12) {
  background-color: #fb7319 !important;
}
.cat-parent .cat:nth-child(13) {
  background-color: #84b5b6 !important;
}
.cat-parent .cat:nth-child(14) {
  background-color: #81d498 !important;
}
.cat-parent .cat:nth-child(15) {
  background-color: #942079 !important;
}
.cat-parent .cat:nth-child(16) {
  background-color: #b82f04 !important;
}
.cat-parent .cat:nth-child(17) {
  background-color: #8f0c26 !important;
}
.cat-parent .cat:nth-child(18) {
  background-color: #02db69 !important;
}
.cat-parent .cat:nth-child(19) {
  background-color: #7001cd !important;
}
.cat-parent .cat:nth-child(20) {
  background-color: #91b754 !important;
}
.cat-parent .cat:nth-child(21) {
  background-color: #1c2b88 !important;
}
.cat-parent .cat:nth-child(22) {
  background-color: #b8ce45 !important;
}
.cat-parent .cat:nth-child(23) {
  background-color: #58a4d5 !important;
}
.cat-parent .cat:nth-child(24) {
  background-color: #3a5a10 !important;
}
.cat-parent .cat:nth-child(25) {
  background-color: #d5309c !important;
}
.cat-parent .cat:nth-child(26) {
  background-color: #d7dfa3 !important;
}
.cat-parent .cat:nth-child(27) {
  background-color: #5fcf72 !important;
}
.cat-parent .cat:nth-child(28) {
  background-color: #f5f8ca !important;
}
.cat-parent .cat:nth-child(29) {
  background-color: #c8d784 !important;
}
.cat-parent .cat:nth-child(30) {
  background-color: #9921b0 !important;
}
.cat-parent .cat:nth-child(31) {
  background-color: #27a289 !important;
}
.cat-parent .cat:nth-child(32) {
  background-color: #012eef !important;
}
.cat-parent .cat:nth-child(33) {
  background-color: #c6e9fd !important;
}
.cat-parent .cat:nth-child(34) {
  background-color: #ff23ad !important;
}
.cat-parent .cat:nth-child(35) {
  background-color: #908066 !important;
}
.cat-parent .cat:nth-child(36) {
  background-color: #538f8d !important;
}
.cat-parent .cat:nth-child(37) {
  background-color: #326158 !important;
}
.cat-parent .cat:nth-child(38) {
  background-color: #96d5f7 !important;
}
.cat-parent .cat:nth-child(39) {
  background-color: #d0112d !important;
}
.cat-parent .cat:nth-child(40) {
  background-color: #7f65be !important;
}
.cat-parent .cat:nth-child(41) {
  background-color: #6fdcb2 !important;
}
.cat-parent .cat:nth-child(42) {
  background-color: #96e6f1 !important;
}
.cat-parent .cat:nth-child(43) {
  background-color: #1d4e52 !important;
}
.cat-parent .cat:nth-child(44) {
  background-color: #7a03be !important;
}
.cat-parent .cat:nth-child(45) {
  background-color: #cb0329 !important;
}
.cat-parent .cat:nth-child(46) {
  background-color: #f38c78 !important;
}
.cat-parent .cat:nth-child(47) {
  background-color: #e1c7d5 !important;
}
.cat-parent .cat:nth-child(48) {
  background-color: #765503 !important;
}
.cat-parent .cat:nth-child(49) {
  background-color: #c73e08 !important;
}
.cat-parent .cat:nth-child(50) {
  background-color: #69aa24 !important;
}
