.parent-fileupload {
  display: flex;
  flex-direction: column;
}
.btn-submit {
  align-self: center;
  width: min-content;
}
.wavesurfer-handle {
  background: #a8dba8;
}
.wave {
  margin: 5px;
  padding: 3px;
  background-color: gray;
  margin: auto;
  align-self: center;
  max-width: 80vw;
  width: 80%;
  margin-bottom: 10px;
}
.tag {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  margin: 3px;
}
.tag-list {
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.preview {
  object-fit: cover;
  height: 250px;
  margin: auto;
  width: 100%;
  padding: 0 !important;
}
.cat-parent {
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.cat-parent .cat {
  cursor: pointer;
  color: white;
  margin: 3px;
  padding: 8px;
}
.cat-parent .cat:nth-child(1) {
  background-color: #90741f !important;
}
.cat-parent .cat:nth-child(2) {
  background-color: #d712ec !important;
}
.cat-parent .cat:nth-child(3) {
  background-color: #8a5e9d !important;
}
.cat-parent .cat:nth-child(4) {
  background-color: #9591a5 !important;
}
.cat-parent .cat:nth-child(5) {
  background-color: #ad9819 !important;
}
.cat-parent .cat:nth-child(6) {
  background-color: #17e882 !important;
}
.cat-parent .cat:nth-child(7) {
  background-color: #04733e !important;
}
.cat-parent .cat:nth-child(8) {
  background-color: #c2b40e !important;
}
.cat-parent .cat:nth-child(9) {
  background-color: #b261d1 !important;
}
.cat-parent .cat:nth-child(10) {
  background-color: #a6b9e6 !important;
}
.cat-parent .cat:nth-child(11) {
  background-color: #7e4cdf !important;
}
.cat-parent .cat:nth-child(12) {
  background-color: #5b90ff !important;
}
.cat-parent .cat:nth-child(13) {
  background-color: #9ecedf !important;
}
.cat-parent .cat:nth-child(14) {
  background-color: #0e97a5 !important;
}
.cat-parent .cat:nth-child(15) {
  background-color: #6bf369 !important;
}
.cat-parent .cat:nth-child(16) {
  background-color: #d2b5b0 !important;
}
.cat-parent .cat:nth-child(17) {
  background-color: #471d01 !important;
}
.cat-parent .cat:nth-child(18) {
  background-color: #28bc9a !important;
}
.cat-parent .cat:nth-child(19) {
  background-color: #dec690 !important;
}
.cat-parent .cat:nth-child(20) {
  background-color: #26ea24 !important;
}
.cat-parent .cat:nth-child(21) {
  background-color: #a50c73 !important;
}
.cat-parent .cat:nth-child(22) {
  background-color: #6b7459 !important;
}
.cat-parent .cat:nth-child(23) {
  background-color: #e289f2 !important;
}
.cat-parent .cat:nth-child(24) {
  background-color: #26c186 !important;
}
.cat-parent .cat:nth-child(25) {
  background-color: #4d85e6 !important;
}
.cat-parent .cat:nth-child(26) {
  background-color: #121c3f !important;
}
.cat-parent .cat:nth-child(27) {
  background-color: #1d8277 !important;
}
.cat-parent .cat:nth-child(28) {
  background-color: #49ab81 !important;
}
.cat-parent .cat:nth-child(29) {
  background-color: #993df7 !important;
}
.cat-parent .cat:nth-child(30) {
  background-color: #74e1d7 !important;
}
.cat-parent .cat:nth-child(31) {
  background-color: #c68a4c !important;
}
.cat-parent .cat:nth-child(32) {
  background-color: #d9f495 !important;
}
.cat-parent .cat:nth-child(33) {
  background-color: #773c40 !important;
}
.cat-parent .cat:nth-child(34) {
  background-color: #ae254d !important;
}
.cat-parent .cat:nth-child(35) {
  background-color: #864a15 !important;
}
.cat-parent .cat:nth-child(36) {
  background-color: #b9b180 !important;
}
.cat-parent .cat:nth-child(37) {
  background-color: #7c925d !important;
}
.cat-parent .cat:nth-child(38) {
  background-color: #2106de !important;
}
.cat-parent .cat:nth-child(39) {
  background-color: #517718 !important;
}
.cat-parent .cat:nth-child(40) {
  background-color: #567eca !important;
}
.cat-parent .cat:nth-child(41) {
  background-color: #1b02dd !important;
}
.cat-parent .cat:nth-child(42) {
  background-color: #95c41d !important;
}
.cat-parent .cat:nth-child(43) {
  background-color: #77e1cb !important;
}
.cat-parent .cat:nth-child(44) {
  background-color: #addacc !important;
}
.cat-parent .cat:nth-child(45) {
  background-color: #83aab1 !important;
}
.cat-parent .cat:nth-child(46) {
  background-color: #21f8c2 !important;
}
.cat-parent .cat:nth-child(47) {
  background-color: #9eaca6 !important;
}
.cat-parent .cat:nth-child(48) {
  background-color: #ccd0bc !important;
}
.cat-parent .cat:nth-child(49) {
  background-color: #ca3749 !important;
}
.cat-parent .cat:nth-child(50) {
  background-color: #1675bd !important;
}
